.Error {
    h1 {
        font-size: 48px;
        font-weight: 200;
        text-align: center;
        color: #525252;
        font-family: "Source Sans Pro", sans-serif;
        margin: 2.67em 0;
    }

    .code-error {
        font-size: 140px;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
    }

    a {
        display: block;
        text-align: center;
    }
}
