.Login {
    .login-page {

        .hide-desktop {
            display: none;
        }

        .padding-top-bottom {
            padding-bottom: 30px;
            padding-top: 30px;
        }

        h1 {
            font-size: 48px;
            font-weight: 200;
            text-align: center;
            color: $color-grey;
            font-family: "Source Sans Pro", sans-serif;
            margin: 2.67em 0;
        }

        .align-right {
            text-align: right;
        }

        .align-center {
            text-align: center;
        }

        .border-left {
            border-left: 1px solid $color-grey;
        }

        @include bp(max-width, $screen-md-min) {
            .hide-mob {
                display: none;
            }
            .hide-desktop {
                display: block;
            }
            .align-right {
                text-align: left;
            }
            .border-left {
                border-left: none;
            }
        }
    }
}