/* line 4, ../../scss/cms/media.scss */
.Cms .media #form-dropZone {
  width: 100%;
  height: 100%;
}
/* line 11, ../../scss/cms/media.scss */
.Cms .list ul {
  list-style-type: none;
  padding-left: 10px;
}
/* line 16, ../../scss/cms/media.scss */
.Cms .list li span {
  margin-right: 10px;
}
/* line 20, ../../scss/cms/media.scss */
.Cms .list li.close-dir ul {
  display: none;
}
